a {
    text-decoration: none;
}

.active-tab{
    color: red;
    font-size: larger;
    border-bottom: 1px solid black;
}


.Nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}